/* Фоновые стили по твоим макетам */
.bg-main-building {
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('https://images.unsplash.com/photo-1562774053-701939374585?q=80&w=1000') no-repeat center center/cover;
}

.bg-light-purple {
    background-color: #f3f0ff;
}

.bg-dark-theme {
    background-color: #6c6d75;
}

.bg-dark-card {
    background-color: #2b303c !important;
}

/* Кастомные кнопки */
.btn-blue-custom {
    background-color: #93bfff !important;
    color: #000 !important;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    transition: background 0.2s;
}

    .btn-blue-custom:hover {
        background-color: #70a7ff !important;
    }

.btn-slate-custom {
    background-color: #405373 !important;
    color: #fff !important;
    border: none;
    border-radius: 8px;
    transition: background 0.2s;
}

    .btn-slate-custom:hover {
        background-color: #2f3f59 !important;
    }

/* Дополнительные правки */
.bg-opacity-95 {
    background-color: rgba(255, 255, 255, 0.95) !important;
}

.tracking-wide {
    letter-spacing: 0.1rem;
}
